<ion-header>
  <ion-navbar [color]="isRecording ? 'danger' : 'primary'">
    <ion-title>
      Projeto Vini
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <button ion-button full (click)="getPermission()">Pedir Permissao</button>
  <button ion-button full (click)="startListening()">Ouvir</button>
  <button ion-button full (click)="stopListening()" *ngIf="isIos()">Parar de ouvir</button>
  <!-- <button (click)="comandoDeVoz()" ion-button block>Comando de Voz</button> -->
 
  <ion-card>
    <ion-card-header>Isso foi o que eu entendi...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item text-wrap *ngFor="let match of matches">
          <p>{{ match }}</p>
        </ion-item>
        <!-- <p>{{msg}}</p> -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>